In [4]:
import numpy as np
import pandas as pd

In [5]:
labels = ['a', 'b', 'c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':100}

In [7]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(my_list,labels) #uses the labes as named index values

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [13]:
pd.Series(d) #takes the keys as the index and the values as the elements in a series

a     10
b     20
c    100
dtype: int64

In [14]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [15]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [16]:
pd.Series([sum,print,len]) #wont really use this but just shows how flexible the 
                           #pandas series is that it can take in functions as so

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [19]:
ser1 = pd.Series([1,2,3,4],index = ['USA','FRANCE','CHINA','INDIA']) #pd.Series(data,index)

In [20]:
ser1

USA       1
FRANCE    2
CHINA     3
INDIA     4
dtype: int64

In [25]:
ser2 = pd.Series([5,6,2,8],index = ['USA','ITALY','CHINA','JAPAN'])

In [26]:
ser2

USA      5
ITALY    6
CHINA    2
JAPAN    8
dtype: int64

In [27]:
ser1['USA']

1

In [28]:
ser1 + ser2 #it adds up the values depending on if there was a common index name
            #index sorted by alphabetical order by default

CHINA     5.0
FRANCE    NaN
INDIA     NaN
ITALY     NaN
JAPAN     NaN
USA       6.0
dtype: float64