In [1]:
import numpy as np
import pandas as pd

In [11]:
from numpy.random import randn

In [12]:
#Index levels
outside = 'G1 G1 G1 G2 G2 G2'
outside = outside.split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [13]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [14]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [15]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [16]:
df  #this dataframe has a multi level index aka an index hierarchy

             A         B
G1 1  1.308808 -1.373258
   2 -0.310782  2.482524
   3 -2.364632  0.728066
G2 1  2.003494 -1.962358
   2 -2.650794 -0.641713
   3 -0.552822 -0.935939

In [17]:
df.loc['G1']

          A         B
1  1.308808 -1.373258
2 -0.310782  2.482524
3 -2.364632  0.728066

In [18]:
df.loc['G1'].loc[1]

A    1.308808
B   -1.373258
Name: 1, dtype: float64

In [19]:
df.index.names

FrozenList([None, None])

In [20]:
df.index.names = ['Groups','Nums']

In [21]:
df

                    A         B
Groups Nums
G1     1     1.308808 -1.373258
       2    -0.310782  2.482524
       3    -2.364632  0.728066
G2     1     2.003494 -1.962358
       2    -2.650794 -0.641713
       3    -0.552822 -0.935939

In [22]:
df.loc['G2'].loc[2]['B']

-0.6417131830515236

In [23]:
df.xs(1,level = 'Nums') #grabs a cross section of teh dataframe
                        #good for grabing unadjacent sections of the dataframe

               A         B
Groups
G1      1.308808 -1.373258
G2      2.003494 -1.962358