In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from datetime import datetime

In [4]:
my_year = 2017
my_month = 5
my_day = 2
my_hour = 15
my_minute = 30
my_second = 14

In [5]:
my_date = datetime(my_year,my_month,my_day)

In [6]:
my_date #if you dont provide time information then the default is 00:00

datetime.datetime(2017, 5, 2, 0, 0)

In [7]:
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [8]:
my_date_time

datetime.datetime(2017, 5, 2, 15, 30, 14)

In [9]:
type(my_date_time)

datetime.datetime

In [10]:
#datetime object has attributes you can grab from

my_date_time.day

2

In [11]:
first_two = [datetime(2016,1,1),datetime(2016,1,2)]

In [12]:
type(first_two)

list

In [13]:
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [14]:
#we can convert a numpy array or a python list to an index

In [15]:
dt_idx = pd.DatetimeIndex(first_two)  #pd.DatetimeIndex lets pandas know this index is a time series index

In [16]:
dt_idx

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [17]:
data = np.random.randn(2,2)
data

array([[ 1.70434763, -2.22808481],
       [-1.45247915,  0.84886238]])

In [18]:
cols = ['a','b']

In [19]:
df = pd.DataFrame(data, dt_idx, cols)
df

                   a         b
2016-01-01  1.704348 -2.228085
2016-01-02 -1.452479  0.848862

In [20]:
#calling methods of the index

In [21]:
df.index.argmax() #the index position of the latest date

1

In [24]:
df.index.max() #returns the latest date itself

Timestamp('2016-01-02 00:00:00')

In [25]:
df.index.argmin()

0