In [8]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [9]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
df = pd.DataFrame(randn(6,2), index = hier_index, columns = ['A', 'B'])

In [13]:
df #a multi level index with an index hierarchy

             A         B
G1 1 -0.583931 -0.236782
   2 -0.298386  0.857782
   3  0.084037 -0.704499
G2 1 -0.401690  0.336998
   2 -1.104613  0.856711
   3  0.533774 -0.414616

In [16]:
df.loc['G1'].loc[2]  #you call from the outside index inwards

A   -0.298386
B    0.857782
Name: 2, dtype: float64

In [17]:
df

             A         B
G1 1 -0.583931 -0.236782
   2 -0.298386  0.857782
   3  0.084037 -0.704499
G2 1 -0.401690  0.336998
   2 -1.104613  0.856711
   3  0.533774 -0.414616

In [19]:
df.index.names = ['Groups', 'Numbers']

In [20]:
df

                       A         B
Groups Numbers
G1     1       -0.583931 -0.236782
       2       -0.298386  0.857782
       3        0.084037 -0.704499
G2     1       -0.401690  0.336998
       2       -1.104613  0.856711
       3        0.533774 -0.414616

In [21]:
df.loc['G2'].loc[2]['B']

0.8567106222871406

In [22]:
df

                       A         B
Groups Numbers
G1     1       -0.583931 -0.236782
       2       -0.298386  0.857782
       3        0.084037 -0.704499
G2     1       -0.401690  0.336998
       2       -1.104613  0.856711
       3        0.533774 -0.414616

In [24]:
df.xs(1, level = 'Numbers') #grabs a cross section of the dataframe
                            #grabs 1 from the index Numbers in both groups G1 and G2

               A         B
Groups
G1     -0.583931 -0.236782
G2     -0.401690  0.336998